// Variáveis
$primary-color: #0044cc;
$secondary-color: #f4f4f4;
$text-color: #333;

// Estilos Globais
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: $text-color;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

// Cabeçalho
header {
  background: $primary-color;
  color: #fff;
  padding: 10px 0;

  .logo {
    width: 10vh;
    height: auto;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  h1 {
    display: inline-block;
    vertical-align: middle;
  }

  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;

    li a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Seção Inicial
#home {
  background: $secondary-color;
  padding: 40px 0;

  .home-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .home-text {
      flex: 1;
      max-width: 50%;
      h2 {
        font-size: 2rem;
        color: $primary-color;
        margin-bottom: 10px;
      }

      p {
        font-size: 1rem;
        color: $text-color;
      }
    }

    .home-image {
      flex: 1;
      max-width: 50%;
      text-align: center;

      img {
        width: 100%;
        height: auto;
        max-width: 400px;
        border-radius: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    .home-content {
      flex-direction: column;

      .home-text, .home-image {
        max-width: 100%;
        text-align: center;
      }

      .home-image img {
        max-width: 300px;
      }
    }
  }
}


// Seção de Doação
#doacao {
  background: $secondary-color;
  padding: 20px 0;

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    input, button {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    button {
      background: $primary-color;
      color: #fff;
      border: none;
      cursor: pointer;

      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }
}

// Livros Doados
#livros-doados {
  padding: 20px 0;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    padding: 0;

    li {
      text-align: center;
      width: calc(33.333% - 10px);
      background: $secondary-color;
      border: 1px solid #ddd;
      padding: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }

      p {
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
  }
}

// Quem Somos
#quem-somos {
  padding: 20px 0;

  .team-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
  }
}

// Rodapé
footer {
  background: $primary-color;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
